#card-container{
    background-color: #edf0f7;
    color: #7d8391;
    padding-top: 25px;
}

#white-container{
    border: 1px solid white;
    border-radius: 15px;
    background-color: #f2f5fc;
    
}

#light-container{
    border: 1px solid white;
    border-radius: 15px;
    background-color: #f2f5fc;
    padding: 15px;
}

#card-head{
    display: flex;
    justify-content: space-between;
}

.card-body ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid #ebeef5;
}

#price h3 span{
    font-size: 15px;
}

#btn-grp{
    display: flex;
    gap: 10px;
}

#footer-container{
    background-color: #edf0f7;
    color: #7d8391;
    padding-bottom: 25px;
}

#footer-i1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer p{
    margin: 0;
    padding: 0;
}

#footer-i2{
display: flex;
gap: 10px;
}

.card-body ul i{
    color:#0d6efd ;
}

